[2018-05-09 07:50] cyberbudy opened #1 "Admin issue"
There a few errors in the changelist_view

`AttributeError: 'TestTreeNode' object has no attribute 'tn_parents_pks'`

And

`AttributeError: 'TestTreeNode' object has no attribute 'tn_parents_count'`

I suppose `ancestors` should be used instead of `parents`

[2018-05-09 07:57] cyberbudy opened #2 "drag-and-drop"
Would be a nice feature to change tree in the changelist view with just drag-and-drop

[2018-05-09 08:07] fabiocaccamo commented on #1
Thanks for the report, fixed in `0.6.1` version.
Any other feedback would be very appreciated!

[2018-05-09 08:28] #1 closed

[2018-05-09 08:31] cyberbudy commented on #1
`get_parents_count` - this method is specified only in the readme. Same as other `parents` things.

[2018-05-09 08:44] fabiocaccamo commented on #1
Renamed parents to ancestors everywhere, sorry.

[2018-05-09 13:54] douglance opened #3 "If an object has no parent, admin will throw an exception"
I made a super simple, new Django app, and only added this package to test the admin.

[code]

[2018-05-09 14:01] fabiocaccamo commented on #3
Have you installed the `0.6.4` version?

[2018-05-09 14:08] douglance commented on #3
![It worked.](https://user-images.githubusercontent.com/4741454/39819178-d0b4875e-5370-11e8-96b2-824faf57a5cc.png)

Thanks for your help. Didn't realize the minor version had ticked up there.

Might be a good idea to include a screenshot showing the admin interface.

[2018-05-09 14:08] #3 closed

[2018-05-09 14:11] fabiocaccamo commented on #3
I fixed some bugs caused by code refactoring just few hours ago.
Yes, I will add a screenshot of the admin interface, do you like it?
Any suggestion to improve the lib would be appreciated...

[2018-05-09 14:14] douglance commented on #3
I see. Awesome. This is a fantastic start to the library. I'm looking forward to digging in and learning more.

I would like to see a tree-based editing interface in the detail view. So if I were editing a Category in the standard example, then I could see all the related nodes as collapsible, in-line forms. Adding drag-and-drop reordering would be incredible too.

[2018-05-09 14:19] fabiocaccamo commented on #3
Thanks, I added inlines support to the todo list.

[2018-05-09 15:17] fabiocaccamo opened #5 "Add screenshots to README"

[2018-05-09 15:18] fabiocaccamo commented on #5
![treenode-simple-admin](https://user-images.githubusercontent.com/1035294/39823224-dff5944c-53ac-11e8-9d7f-60f1a31b2730.png)
![treenode-accordion-admin](https://user-images.githubusercontent.com/1035294/39823232-e3a5d99e-53ac-11e8-98ad-edd6b77c44a4.png)

[2018-05-09 15:18] #5 closed

[2018-05-09 16:12] fabiocaccamo commented on #3
Also added screenshots to README

[2018-08-15 02:34] BizKey opened #6 "Django-treenode for Django 2.1"
Hello, I use your application django-treenode I really like it.
I would like to ask to update it to the version of Django 2.1.
Now it works on versions 2.0.8, and the error appears at 2.1 when the admin panel is opened. The error message is shown below.
Thanks for the help.
=====================================================
Environment:

Request Method: GET
Request URL: http://127.0.0.1:8000/ad

[2018-08-15 02:34] BizKey commented on #6
I managed to avoid this error by overriding the get_list_filter method in my model, the code is shown below.
============================================
# coding=utf-8
from django.contrib import admin
from .models import Platforms
from treenode.admin import TreeNodeModelAdmin
from treenode.forms import TreeNodeForm

@admin.register(Platforms)
class AdminPlatform(TreeNodeModelAdmin):

    treenode

[2018-09-06 09:32] fabiocaccamo commented on #6
You can install `django-treenode==0.11.3`

[2018-09-06 09:32] #6 closed

[2018-09-22 10:48] hipertracker2 commented on #2
Yes, it's hard to change the order of items without it.

[2018-11-29 07:37] simkimsia opened #7 "[Question] Can I use this library to represent related models?"
I have the following models:

- Structure
- StructureSeries
- StructureSeriesSlot

The model Structure has many StructureSeries. In turn, StructureSeries has many StructureSeriesSlot.

I noticed your example covers only for the records within the same model class to be treenodes within that model class.

Does it work for related models (related via ForeignKey Field)?

[2018-11-29 13:37] fabiocaccamo commented on #7
@simkimsia, you can have multiple different trees at the same time, but in each tree nodes must be all of the same class (which must extend `TreeNodeModel` abstract class).

I hope to have answered correctly to your question.

[2018-11-30 03:40] simkimsia commented on #7
Yes, you have answered. Thanks for answering.

Follow up question: What if I use GenericRelation via contenttypes framework? Would that work?

[2018-12-02 22:06] fabiocaccamo commented on #7
The problem would be the same.

[2018-12-03 10:41] #7 closed

[2018-12-10 16:33] lambdamusic opened #8 "Performance issues"
Been trying to create a few thousand items without any hierarchy infos, like this:

[code]

But the DB becomes incredibly slow after a couple hundred rows eg

[code]

So totally unusable...

Anything I'm doing wrong?

[2018-12-10 17:22] fabiocaccamo commented on #8
@lambdamusic every time a new node is created/deleted all siblings and descendants references are updated at db level, this is the cause of the slowdown.

I imagine that in your scenario read operations are not affected by any slowdown.

Personally I used it in a project with about 500 nodes (not all at the same level) without any problem.

Performance have been not the main focus, they could be i

[2018-12-14 00:32] fabiocaccamo commented on #8
@lambdamusic I just released a `0.12.0` version with great performance improvements.

When you need to do bulk operations you should disable signals and trigger the tree update manually:

[code]

[2018-12-15 08:15] lambdamusic commented on #8
Thanks @fabiocaccamo - in the meantime I had to move to django-mptt but your API is simpler to use so I'll give it a try asap

[2018-12-15 09:32] fabiocaccamo commented on #8
@lambdamusic ok, let me know!

[2019-01-07 23:31] fabiocaccamo commented on #8
@lambdamusic any update?

[2019-01-14 21:10] #8 closed

[2019-01-18 15:55] diek opened #9 "List of reserved field names"
I think it would be helpful to have list of reserved field names that should not be used, for example 'level' as I just discovered. Thanks for the library. Keep up the great work.

[2019-02-14 21:02] diek opened #10 "Implement treenode in CreateView or ModelForm"
I am trying implement treenode without admin, and I was curious to know if you have an example of either a CreateView or a ModelForm. Or have any suggestions. I really like your efforts, amazing job, but I do not want regular users into the admin.

[2019-02-14 22:31] fabiocaccamo commented on #10
If you don’t want the admin just extend the model abstract class.

[2019-02-14 22:51] diek commented on #10
I do want the admin, it works perfect. I just also need a user form for non-admins, I am just having a hard time getting my head wrapped around making a form that has fields not in my model, the tn_parent would be the primary example of that. And I was curious to know if you have an example of either a CreateView or a ModelForm using treenode.

[2019-02-15 02:49] diek commented on #10
Got it, if you want I will upload a class based view example

[2019-02-15 09:52] fabiocaccamo commented on #10
Ah ok, sorry... I didn't understood your need yesterday.
Sure, feel free to send it, any contribution is appreciated.

[2019-02-15 12:58] diek commented on #10
will do

[2019-02-15 12:58] #10 closed

[2019-03-22 10:58] alexbredo opened #11 "Search for subnodes in accordion admin isn't possible"
Search for subnodes in accordion admin isn't possible, because the parent nodes are collapsed and can not be opened.

**Model**:
`class Element(TreeNodeModel):
    TYPES = Choices('Namespace', 'Class', 'Object')
    name = models.CharField(max_length=255, blank=False,
                            null=False, unique=True)
    model_type = models.CharField(
        choices=TYPES, default=TYPES.Object

[2019-03-22 11:11] fabiocaccamo commented on #11
@alexbredo this is a known issue, the reason is that the accordion is created dynamically using the flat `<tr>` elements of the changelist.

Filtering the results would broke the accordion structure, for example if you search for an object which has 2 parents excluded from search you will see a broken structure.

A possible solution could be to disable the accordion functionality when the there is

[2019-03-22 11:44] alexbredo commented on #11
This is a good idea! Thank you very much for your support!
So the solution could look like (working example):

[code]

[2019-03-22 11:45] alexbredo commented on #11
Probably this could be added to TreeNodeModelAdmin as temporary workaround

[2019-03-22 11:51] fabiocaccamo commented on #11
@alexbredo I will add support to this and release a new version soon.

[2019-03-22 12:15] alexbredo commented on #11
Top, you're the best 👍

[2019-03-25 15:34] fabiocaccamo commented on #11
@alexbredo you can install `0.13.0` version.
`ModelAdmin` options are changed, `treenode_accordion` option has been replaced by `treenode_display_mode` since a new `'breadcrumbs'` display mode can be used:
[code]
When there is an active `list_filter` o any query string, the display mode will default to `TreeNodeModelAdmin.TREENODE_DISPLAY_MODE_BREADCRUMBS` to preserve data visualization integrity.

[2019-03-25 15:34] #11 closed

[2019-03-25 17:53] fabiocaccamo commented on #5
![treenode-admin-display-mode-accordion](https://user-images.githubusercontent.com/1035294/54942407-5040ec00-4f2f-11e9-873b-d0b3b521f534.png)
![treenode-admin-display-mode-breadcrumbs](https://user-images.githubusercontent.com/1035294/54942410-50d98280-4f2f-11e9-8a8b-a1ac6208398a.png)
![treenode-admin-display-mode-indentation](https://user-images.githubusercontent.com/1035294/54942411-50d98280-4f2

[2019-03-27 09:31] aldarund opened #12 ".update_tree() error value too long for type character varying(500)"
treenode tries to set tn_siblings_pks and its could be longer than 500 charts. And thast only with 157 records in my table, where all of them root level

update data
[code]
[code]

that kind of make lib unusable

[2019-03-27 09:41] fabiocaccamo commented on #12
@aldarund you are using an old version of this package, please upgrade it to the latest version and run `python manage.py migrate`.

[2019-03-27 09:44] aldarund commented on #12
Oopps, i missed to add it to apps, so migration wasnt applying.

[2019-03-27 09:44] #12 closed

[2019-05-16 10:30] children1987 opened #13 "add 'treenode' in INSTALLED_APPS"
add 'treenode' in INSTALLED_APPS should be done, did you forget this when writing README.md ?

[2019-05-16 10:49] fabiocaccamo commented on #13
https://github.com/fabiocaccamo/django-treenode#installation

[2019-05-16 10:50] #13 closed

[2019-05-16 10:52] children1987 commented on #13
oh~ I got it ...  sorry!

[2019-06-18 01:59] nicolasVaye opened #14 "treenode's sorting is not OK"
Hi,

i reproduce a directories treenode with name's sorting and in a directory viewer the sorting seem to be OK but with treenode, it's not OK.
It seem to me that there is a problem with letter and number.

see in attachments 2 screenshots, one to see the directory and the other to see in the treenode directory.

![image](https://user-images.githubusercontent.com/19943635/59647674-d5067380-91c7-11

[2019-06-18 09:59] fabiocaccamo commented on #14
@nicolasVaye thank you for reporting this.
Could you share also your model and modeladmin implementation please?

[2019-06-19 06:37] nicolasVaye commented on #14
here are the files.

models.py :

# -*- coding: utf-8 -*-

from django.db import models

from treenode.models import TreeNodeModel

class ItemType():
    CLASS_IN_KEY_CHOICES = (
        ('DATABASE', 'DATABASE'),
        ('ENV', 'ENV'),
        ('JARVIS', 'JARVIS'),
        ('REVERSEPROXY', 'REVERSEPROXY'),
        ('SERVER', 'SERVER'),
        ('SOFT', 'SOFT'),
        ('SOLR', 'SOLR'),
        (

[2019-06-27 22:26] nicolasVaye opened #15 "compatibility with django 2.2"
Hi,

At this time, treenode is not compatible with django 2.2.
Do you know when it will be ?

Thanks.

[2019-06-28 11:10] fabiocaccamo commented on #14
Could you show the method you use to fetch and display the directories?

[2019-06-28 11:11] fabiocaccamo commented on #15
Today.

[2019-06-28 12:50] fabiocaccamo commented on #14
Models are sorted alphabetically using `__str__` value with respect to parent node.

If you want to manually customize ordering using the admin just add `tn_order` in your model admin `list_display` / `list_editable`.

Your problem has been fixed in `0.13.2`, let me know if everything works correctly.

[2019-06-28 12:50] #14 closed

[2019-06-28 12:51] fabiocaccamo commented on #15
Added support in `0.13.2` version, the build fails, but if you check on travis you can see they have some issues with the python 3.4 interpreter.

[2019-06-28 12:51] #15 closed

[2019-07-01 02:13] nicolasVaye commented on #14
OK, thanks, it works fine with 0.13.2 and django 2.1.

It appears that with django 2.2.2, accordion display mode doesn't work but it's not the same issue.

[2019-07-01 07:47] fabiocaccamo commented on #14
Ok, I will debug it. Thanks for the report.

[2019-07-01 10:24] fabiocaccamo commented on #14
@nicolasVaye fixed in `0.13.3` version.

[2020-01-29 16:20] brianjbuck opened #16 "How to Keep Accordion Nesting When Sorting by Other Fields"
When using Accordion nesting as the display mode In the Django admin, if you sort by a different field, the display mode switches to Breadcrumb.

How do I override the admin to maintain the Accordion display mode?

[2020-01-30 00:39] kynamd opened #17 "At the 6th level, treenode reverses the order of descendants."
**Python version**
3.8.0

**Django version**
2.2.7

**Package version**
django-treenode: 0.14.0

**Current behavior (bug description)**
Here is a single branch with 5 nodes:
![image](https://user-images.githubusercontent.com/26850832/73409860-143a9c80-4333-11ea-8642-0e48d1eb6197.png)

When I add the 6th descendant node to the branch, the order of descendants begins to reverse as seen below:
![imag

[2020-01-30 15:03] fabiocaccamo commented on #17
@kynamd wow, thank you for reporting this unexpected behavior. I will debug and fix it as soon as possible.

[2020-01-30 15:08] fabiocaccamo commented on #16
@brianjbuck the current behavior is intentional, it happens also when a search filter is present. Using the django's admin columns ordering all rows are sorted using the selected field including all descendants.
Any idea to overcome this problem will be appreciated.

[2020-03-03 16:14] #9 closed

[2020-03-04 10:41] fabiocaccamo commented on #17
@kynamd fixed in `0.14.1` version (tested against 120 levels of depth).
You just need to update your tree (you can do it by saving any model in the admin).

[2020-03-04 14:26] #17 closed

[2020-04-05 16:39] joaquinperaza opened #18 "Display parents structure in select input"
Display parents structure in select input in form when creating object with FK reference to tn Model

[2020-04-07 08:45] fabiocaccamo commented on #18
@joaquinperaza yes, you are right, otherwise it's hard to understand the node path.

[2020-04-07 15:53] joaquinperaza commented on #18
My quick solution was modifying the _unicode_ method in the model:

`		def _unicode_(self):
			ancestros=""
			for ancestro in self.ancestors:
				ancestros+=ancestro.nombre+"/"
			return ancestros+self.nombre`

[2020-04-07 16:01] fabiocaccamo commented on #18
@joaquinperaza the problem is that this change affects many other situations, it needs to be tested well before being changed.

[2020-04-07 16:13] joaquinperaza commented on #18
Sure, It's just a workaround, for the moment it's seems to work but I will update if it cause any problems ![image](https://user-images.githubusercontent.com/18288382/78693194-49cea980-78d1-11ea-9555-42770da9c1cb.png)

![image](https://user-images.githubusercontent.com/18288382/78693309-74206700-78d1-11ea-97d5-89fb583fc8ac.png)

[2020-04-07 16:40] fabiocaccamo commented on #18
Try to change `treenode_display_mode` property in the admin, I think that you could see some uncorrect behavior.

[2020-05-11 00:04] aarondiazr opened #19 "Ordering Problem with recursive method"
Hi!

I've a problem when execute TreeNode Model with nested list, the Tree isn´t respect the order iteration, for example:

[code]

My model is like this:
[code]

My recursive method is:
[code]

After, executed **get_children()** of root node, the list it seems wrong order:

[code]
And the order of children_pks is **'106,90,109'**, when the correct order must be maybe **'90,106,109'** or:
[code]

[2020-05-11 08:43] fabiocaccamo commented on #19
@aarondiazr by default the objects are ordered alphabetically by their __str__ representation.

In the `Meta` class you must extend the `TreeNodeModel.Meta`:
[code]

If you need a different order you must use the `tn_priority` field, that works in descending order and will be used internally to compute the hidden `tn_order` field value (don't edit this field manually).

The reason behind the desce

[2020-05-11 13:15] aarondiazr commented on #19
Thanks buddy, amm maybe if there are possible to order tree in based of custom property like a integer in ascending or descending order instead of alphabetically will be great. Because in the practice will need modify the order based on specific use case. Now I will override the get_children method to make possible different order...

I see behind of magic performance one weakness, for example if

[2020-05-11 13:24] fabiocaccamo commented on #19
You can already customize the ordering using `tn_priority` field, if you are using the admin just add `tn_priority` to `list_display` and `list_display_editable`.

Interesting weakness, I never used it in a scenario like yours. Feel free to open an issue about this since it could be of interest to many others.

This can be achieved easily just modifying the [cache](https://github.com/fabiocaccamo/

[2020-05-11 14:34] aarondiazr commented on #19
Could you give and example to customize a order with `tn_priority` using cache, but without use admin? Because I´ve seen `tn_priority` is accoupled to `__get_node_order_str`.

The only way I've found is:
[code]

But this approach avoid cache, because you get a cached tree based in order of `tn_children_pks`, `tn_ancestors_pks`, `tn_siblings_pks `and `tn_descendants_pks` strings with the filter `pk

[2020-07-06 09:37] manish2507 opened #20 "How to use django Import - Export option with this"
Hi,

I am not able to use Import - Export feature of django along with this library. Can you please help me with the same

[2020-07-06 14:47] fabiocaccamo commented on #20
@manish2507 could you describe better your problem and steps to reproduce it, please?
Which python and django versions are you using?

[2020-07-07 11:34] manish2507 commented on #20
Hi, I am using Python-3.7.2 & Django-2.2.
I am trying to upload approx 10000 records using django-import-export because it is not possible by human to enter data one by one so if is there any option to do bulk upload using csv, xlxs etc.
If i can you the django-import-export with this plugin then it will be huge advantage.

[2020-07-07 16:07] fabiocaccamo commented on #20
@manish2507 and what is going wrong using `django-import-export`? I don't understand your problem.

[2020-07-22 05:56] manish2507 commented on #20
Can you please provide me a sample to import the data using "django-import-export" to do bulk upload of data.

[2020-08-04 16:34] #20 closed

[2020-08-04 16:35] fabiocaccamo commented on #18
@joaquinperaza any feedback?

[2020-08-17 08:39] fabiocaccamo commented on #19
@aarondiazr just customize the `tn_priority` field value, then execute `cls.update_tree()`.

[2020-08-17 08:39] #19 closed

[2020-08-17 08:42] fabiocaccamo opened #24 "Add custom cache backend support"
Appeared first on issue #19 by @aarondiazr

[2020-09-16 14:22] fabiocaccamo commented on #18
@joaquinperaza just override the `__str__` method in your model:
[code]

[2020-09-16 14:22] #18 closed

[2020-09-16 14:25] #24 closed

[2020-12-30 08:09] paviano opened #25 "Strange "AttributeError: can't set attribute" while using "index" as field name"
Hi!
I noted that django-admin creation page throw an "AttributeError" while using "index" as field name.

I'm using Python 3.8.5 and Django 3.0.8

don't know if that can be considered a problem.

Really nice package anyway 😁😁

[2020-12-30 09:21] fabiocaccamo commented on #25
Hi @paviano, thank you for reporting this.

Could you describe better the problem and the steps to follow to reproduce it please?

[2020-12-30 09:32] paviano commented on #25
Ciao allora:

-aggiungere un campo "int" di nome "index" a un modello

-implementazione standard per l'admin page

"@admin.register(Impostazione)
class ImpostazioneAdmin(TreeNodeModelAdmin, ImportExportModelAdmin):
    treenode_display_mode = TreeNodeModelAdmin.TREENODE_DISPLAY_MODE_ACCORDION
    form = TreeNodeForm"

Ecco uno screenshot della traccia

![immagine](https://user-images.githubusercon

[2020-12-30 09:40] fabiocaccamo commented on #25
As you can see in the documentation, in the `TreenodeModel` there is already a getter property named `index`, so your field name clashes with the existing property, you should name it with another name.

[2020-12-30 09:52] paviano commented on #25
Yep,

but note that:

"The TreeNodeModel abstract class adds many fields (**prefixed with tn_ to prevent direct access**) and public methods to your models."

So its in conflict with the verbose name? 😊

[2020-12-30 10:40] fabiocaccamo commented on #25
You are right, initially property getters were located in an optional model mixin, but after I merged the mixin in the main model.
Maybe it would be useful to add a setting to avoid the use of property getters.

[2021-01-29 11:30] stuaxo opened #26 "Note in docs about thread/multi process safety"
The worst problem I've had with treebeard is lack of thread/multi process safety.

It's easily demonstrated by running two processes at the same time that each have a loop that adds nodes to the tree.
(because the key generation + adding nodes is not an atomic operation).

Does django-treenode solve this ?

If it does it would be great to have a note in the README.

[2021-01-29 11:35] fabiocaccamo commented on #26
@stuaxo check here: the tree data is computed and then [the nodes are updated all at once](https://github.com/fabiocaccamo/django-treenode/blob/master/treenode/models.py#L354).

Frankly I have not tested it in that scenario and there are not specific tests, so if you can test it directly and maybe also add some tests it would be great and I would add a note to the README.

[2021-01-29 12:30] stuaxo commented on #26
I'm a bit bogged down at the moment, but this is something I check up on semi-regularly so bound to end up back on this ticket in future, so will put some notes here.

Having a brief look at that, it's definitely better due to its atomic nature - though I wonder if items with the node id could clash.

In the case where I hit the error in treebeard, the tree represented a tree of web pages and we w

[2021-01-29 13:23] fabiocaccamo commented on #26
@stuaxo I'm confident it will work fine, when you will have time to test it better please come back to update this issue before it will become stale.

[2021-01-29 14:58] stuaxo commented on #26
I'll close it for now, as it could be a while - I'll still find this since it could be > year :)

[2021-01-29 15:00] fabiocaccamo commented on #26
Ok, don't worry, come back soon :)

[2021-02-19 13:12] zszep opened #27 "Multiple values for display field"
Could it be possible to make "treenode_display_field" take multiple field, e.g. 'postal_code, town'

[2021-02-19 13:17] fabiocaccamo commented on #27
@zszep this is a good idea, unfortunately this is not supported, but it should be very easy to implement it.
I think the best thing would be to support a `callable`, it should be implemented [here](https://github.com/fabiocaccamo/django-treenode/blob/master/treenode/models.py#L192).

[2021-02-20 17:46] fabiocaccamo commented on #27
@zszep btw you can override the model `get_display` method.

[2021-02-22 06:40] zszep commented on #27
Following your advice and adding this code to models.py works great:

    def get_display(self, indent=True, mark='— '):
        indentation = (mark * self.tn_ancestors_count) if indent else ''
        indentation = force_text(indentation)
        field_name = getattr(self, 'treenode_display_field', 'pk')
        text = self.postal_code + ' ' + self.town
        return indentation + text

[2021-02-22 09:10] fabiocaccamo commented on #27
Let's keep this issue open, I want to add a `get_display_text` method that returns just the text without the indentation.
In this way in case of override there will be no need to copy/paste the indentation part.

[2021-03-07 19:03] TimurKhan opened #28 "Comments"
Thank you so much! You have done a great job and created a very good product. At the same time, it should be noted that its main drawback is scarce documentation. It would be nice if you could take a little time and add some small comments to the code.
It's just that I, for example, spend a lot of time to understand what this or that parameter does. For example, I still did not understand what is

[2021-03-07 20:28] fabiocaccamo commented on #28
@TimurKhan thank you very much, I'm glad that you like it!
I know that the documentation could be improved a lot. I would like to do that, but for me it is a low-priority task and when I have some time to spend on open-source I prefer to fix bugs or implement new features.
Maybe one day I will have some sponsors I will add a great documentation to all my packages.

[2021-03-09 10:07] fabiocaccamo commented on #28
**The priority can be used to customize nodes ordering using the admin.**

To keep nodes sorted correctly with respect to their parents but in a flat data-structure, nodes are sorted **alphabetically** using a str that is generated [here](https://github.com/fabiocaccamo/django-treenode/blob/master/treenode/models.py#L377).

#2 is one of the features I would like to work on.

[2021-03-09 10:12] TimurKhan commented on #28
Tnx!!!

[2021-04-21 11:58] fabiocaccamo commented on #16
@brianjbuck I close this issue since it is not my intention to work on it. If you want to do it feel free to submit a PR.

[2021-04-21 11:58] #16 closed

[2021-04-21 11:59] #28 closed

[2021-04-21 12:33] #25 closed

[2021-04-21 12:34] fabiocaccamo commented on #27
@zszep you can upgrade to `0.16.0` version and just override the `get_display_text` method.

[2021-04-21 12:34] #27 closed

[2021-05-19 10:59] TimurKhan opened #29 "Cache update error"
**Python version** 3.9
**Django version** 3.2
**Package version** 0.16.0

**Current behavior (bug description)**
I just want to say that the error manifests itself in very exotic circumstances.
1. I created an abstract model from TreeNodeModel
2. Dynamically, using the operator `type()`, I create an instance of the tree model, inheriting the model from the previously created abstract model. Entrie

[2021-05-20 09:58] TimurKhan commented on #29
Yes, of course.
Sorry, this is a rather lengthy piece of code.
I have collected all related code in one place (for illustration). I quote it:

[code]

Signals.
Signals are used to eliminate developer fakap. With cascading delete actions in admin, they do not call the delete() method of the object. And the signal to create is just convenient.
[code]

[2021-05-27 15:33] fabiocaccamo commented on #29
@TimurKhan thank you for providing the code, that's a lot more than expected... could you submit a PR with a failing test case that should be succeed?

[2021-05-27 16:22] TimurKhan commented on #29
I think this is impossible. Because a good example is as follows.
1. I have provided the code that dynamically creates the model. This model is not in the code, it is created on demand and user configuration. All that is known in advance is that it is a tree model.
2. When such a model is created, then in the administrator we can see it. It also exists in the database. All fields are created. Ever

[2021-05-27 16:31] fabiocaccamo commented on #29
- Have you checked [this](https://docs.python.org/3/library/pickle.html#what-can-be-pickled-and-unpickled)? Maybe your model contains something that can't be picked.
- Have you tried using another cache instead of locmem?

You should replay the scenario adding one piece at time to isolate the problem.

[2021-05-27 16:44] TimurKhan commented on #29
Model in front of your eyes (AbstractDirectory). This is a standard abstract class, with standard fields. Factory (DirectoryRegistry) only reproduces this class by inheritance, making it real.
If this were the case, then inheritance from the standard model would also lead to a PicklingError. But this is not the case.

I have not tried changing the cache. I will try

[2021-05-29 12:20] TimurKhan commented on #29
You can close this question. I didn't find the reason, but I did find a solution. You cannot make Treenode an abstract class and then generate a model. But you can generate a model from two classes at once, one of which is Treenode. Then everything works

[2021-05-30 13:10] fabiocaccamo commented on #29
Thank you very much for this informations, it seems that the problem is related to how python manages abstract classes and inheritance...

I'm sure that this could be helpful for someone else.

[2021-05-30 13:10] #29 closed

[2021-05-30 16:25] TimurKhan commented on #29
Thank you!!!

[2021-06-03 02:01] cperrin88 opened #30 "UUID primary keys don't work"
**Python version**
3.9

**Django version**
3.2.4

**Package version**
0.16.0

**Current behavior (bug description)**
If the primary key of a model is a UUID field the plugin doesn't work.

<details>
<summary>Traceback</summary>
<p>

[code]
</p>
</details>

[2021-06-11 09:04] fabiocaccamo commented on #30
Fixed in `0.17.0` version.

[2021-06-11 09:04] #30 closed

[2021-06-11 11:28] onekiloparsec commented on #26
I'd be interested in the tests / comparison, because I have the same worries. Actually, I may be doing it myself if I find the time (business as usual). So far I've been adding this (and other similar) to my node model to fight against multi-thread problems:

[code]

[2021-06-11 12:00] fabiocaccamo commented on #26
@onekiloparsec could you send a PR with a test that should pass?

[2021-06-12 20:20] onekiloparsec commented on #26
Hm... I'd be happy to do so, but it requires a bit of thinking. One needs a DB, preferably in memory, and automate migrations in setUp test class, isn't it?

A bit late right now for my brain, but I can try tomorrow.

[2021-06-14 19:57] stuaxo commented on #26
The database is already setup during testing.  But getting things working in a sane way with multi-process to trigger this could be tricky.

I guess you could do something with subprocess, and pass them the details to connect to the test database, then wait for them to complete.

sqlite in memory appears to be the default.   If you want to test under PostGres then doing so under CI, probably makes

[2021-06-14 20:56] fabiocaccamo commented on #26
If you run tests locally using tox, both sqlite and postgress databases are used.

I think that `subprocess` is the right way to test this.

[2021-06-14 21:00] fabiocaccamo commented on #26
Could you explain better your scenario to replicate it in a test case?

[2021-06-17 09:34] JuliusJacobitz opened #32 "QUESTION: Tree of different models"
Hi,
I'm currently building an application and I want to manage a tree of different models in the django admin console.  Like the following:

[code]

Is this possilbe or is there a better way to achive this in django admin ? :)

[2021-06-17 16:25] fabiocaccamo commented on #32
@JuliusJacobitz what do you mean by "manage"? What would you like to do precisely?

[2021-06-17 19:51] JuliusJacobitz commented on #32
Basically a small cms to create update read and delete chapters, books and parts. New content should only be created through the django admin page.

[2021-06-18 15:23] fabiocaccamo commented on #32
Actually the library supports multiple hierarchies made of instances of the same model.

This could be an interesting improvement, you could try to make your models proxy the `TreeNodeModel` and er give some feedback (I never did it before, I don't know what could happen).

[2021-06-24 10:20] fabiocaccamo opened #33 "Add model methods for retrieving leaves."
- `get_leaves_pks`
- `get_leaves_queryset`
- `get_leaves`

[2021-06-24 11:34] TimurKhan opened #34 "Order control"
Hello!
I want to share the experience of using the module. Today I see many of its advantages and two main disadvantages. One of them I want to discuss. This is control over the order of elements.

Description of the problem.
The module does not have a transparent and understandable mechanism for ordering elements in the tree. In practice, the most common are two modes: alphabetical sorting and st

[2021-06-26 13:41] fabiocaccamo commented on #34
@TimurKhan thank you for reporting your experience with this library.

The ordering problem was really hard to solve because the objective was to sort an N levels data structure which is stored in a flat data-structure (just 1 db table) and at the same time each object must respect the order of its ancestors.

I understand that the solution is not very transparent but it solves the problem well, i

[2021-06-26 15:56] TimurKhan commented on #34
I will think about how to solve the problem.
What is obvious now (as a statement of the task) is that the tn_priority parameter must be abandoned. At least its purpose should be to set the position of the element in the list of children of the node.
At one time (until I found your library) I had some developments. I will try to present something.

[2021-06-27 12:19] TimurKhan commented on #34
I have a quick idea. It doesn't require a lot of code change.
1. If the user needs an alphabetical ordering, then we leave the decision to him. Let's enter a CharField field, will create an index (db_index=True) in it, will indicate this field as a sorting field in the Meta class.

2. We must change the type of the tn_order field to BinaryField. We store the Materialized Path to the tree node in i

[2021-06-27 13:02] fabiocaccamo commented on #34
This doesn't seem to be more a more transparent solution :)

Anyway, before the current implementation, I stored the ordering string in a db field, but it could become very long in case of deep structures, especially if the pk is a `UUIDField`, and there is not real need to store it, so I decided to compute the ordering string just in memory and use it to calculate the final order using integer fi

[2021-06-27 13:12] TimurKhan commented on #34
Yes: of course! The combined field must in any case unambiguously specify the order of the element  in the list of the node's children.

[2021-08-11 07:58] zszep opened #36 "remove verbose logging in django console"
it would be nice if the verbose logging in the django console could be removed, i.e. I get the following output for each added item:
[code]

[2021-08-11 08:06] fabiocaccamo commented on #36
Actually there is logging only if `settings.DEBUG = True`, btw you're right.

[2021-08-11 08:47] zszep commented on #36
Thks for the info. It would be nice to be able to disable logging in DEBUG mode. When developing the app, I have to recreate an organizational scheme with hundreds of items which clutters my console and other important information gets lost.

[2021-09-03 12:16] zszep opened #37 "Any example for rendering django-treenode in django forms?"
Examples would be appreciated.

<a href="https://dashboard.polar.sh/fabiocaccamo/django-treenode/issues/37">
<picture>
  <source media="(prefers-color-scheme: dark)" srcset="https://dashboard.polar.sh/api/github/fabiocaccamo/django-treenode/issues/37/pledge.svg?darkmode=1">
  <img alt="Fund with Polar" src="https://dashboard.polar.sh/api/github/fabiocaccamo/django-treenode/issues/37/pledge.svg">
<

[2021-09-04 12:37] fabiocaccamo commented on #37
@zszep frankly I never used it in django forms, I have not any example to share / add to the documentation.

[2021-09-09 06:43] matiszz commented on #20
I guess this was a question asking to provide an example on how to use [Django Import/Export](https://django-import-export.readthedocs.io/en/latest/) together with Django-TreeNode. I'd like to recall more information on this question since I find myself a bit stuck in the process. I have a CSV with the following columns, and I'd like to import it, but I'm not sure how to do it without creating inc

[2021-09-09 07:32] fabiocaccamo commented on #20
@matiszz frankly I never did it, but you should:
- Import the `parent` field to the `tn_parent_id`
- Call `YourModelClass.update_tree()` *(maybe this is unnecessary, but I'm not sure if the bulk import will trigger the signals or not)*

If you test it (with and without calling `update_tree`, please let me know so I can update the documentation regarding the integration with `django-import-export`.

[2021-09-09 08:36] matiszz commented on #20
@fabiocaccamo thanks for your fast answer. You're right, there's no need to call `update_tree()` because the signal is triggered. Here is a sample code to work with `django-import-export`

[code]

[2021-09-09 09:08] fabiocaccamo commented on #20
@matiszz simpler than expected, thank you for the feedback!

[2021-09-13 03:51] blackjackgg opened #38 "get children is too slow! cache seem not very high perform"

[2021-09-13 07:14] fabiocaccamo commented on #38
Please re-open the issue following the new issue template.

[2021-09-13 07:14] #38 closed

[2021-10-04 10:12] fabiocaccamo commented on #26
@stuaxo @onekiloparsec I close this issue due to inactivity, I will be glad to re-open it if you provide some useful feedback and/or test.

[2021-10-04 10:12] #26 closed

[2021-10-04 11:08] stuaxo commented on #26
Apologies for not getting back to you, I work on contracts - so different places every 9 - 12 months, so I no longer have access to the project I was working on there.

The issue we had, was that I we were writing code that update Django CMS using their API, which in turn uses TreeBeard underneath.

As we were using celery, at first this ran with more than one process, this broke things until I fo

[2021-10-22 13:49] jvies opened #39 "bulk create / update ?"
hi,

do you plan to provide the bulk_create/update methods on TreeNodeModel ?

for now I do a manual bulk_update specifying all the fields.

regards,
Jérémy

[2021-10-25 13:53] jvacek opened #40 "remove a node in tree without deleting descendants"
It would be nice to allow for behaviour where deleting a node would create separate disjoint trees. Any suggestions how this could be achieved with the current implementations? I previously had just an FK field to parent node, which had a `on_delete=SET_NULL` which worked fine for me, and I would like to replicate this behaviour here.

[2021-10-26 08:12] #39 closed, assigned to fabiocaccamo

[2021-10-26 08:15] fabiocaccamo opened #41 "Improve `bulk_update` / `bulk_update` documentation."
@jvies #39

[2021-10-27 15:07] jvacek opened #42 "How to use methods like `set_parent` during manual RunPython in migrations?"
**Python version**
3.9.1

**Django version**
2.2.24

**Package version**
0.17.0

**Current behaviour (bug description)**
My model was previously using the MPTT library, and so I'd like to transfer to TreeNode. However I am not really able to do the migration due to the methods not being available when using the `apps.get_model` tactic, and I think directly working on the keys might not be a good i

[2021-10-28 14:26] jvacek opened #43 "Suggestion: have `treenode_display_field` use `__str__()` as default fallback"
We don't have a `name`-like field in our model, and our `__str__` is a combination of the `pk`, and some other fields. I had to create this in order to have the Admin work, but it would be nice if this could be handled library-side default.

[code]

Something like "unless the `treenode_display_field` is provided, try using the class' `__str__` if it has one)"

This way you wouldn't have to define

[2021-10-30 20:50] jvies opened #44 "Order is too small for big trees"
Hi,

**Python version**
3.9

**Django version**
3.2

**Package version**
0.17.0

**Current behavior (bug description)**
I try to store unix FS trees in PostgreSQL using django-treenode. The tree contains around 77000 files.
All the files are loaded flatten into db, then I do some batch update to rebuild the tree.

During the call to update_tree(), the DB update raises a "smallint out of range" err

[2021-10-30 21:16] fabiocaccamo commented on #42
@jvacek any update?

[2021-10-30 21:17] fabiocaccamo commented on #40
@jvacek any update?

[2021-11-01 07:13] juliandehne opened #45 "Queries getting slower during progress"
Thank you for providing this nice library. I am using it in a scientific project for twitter analysis. However, the db inserts seem to slow down a lot after a couple of days running it in production mode:

[treenode] update delab.models.Tweet tree: executed 0 queries in 71.44206510693766s.
[treenode] update delab.models.Tweet tree: executed 0 queries in 71.87405565101653s.
[treenode] update delab.

[2021-11-01 09:42] fabiocaccamo commented on #45
@juliandehne how many nodes are there in the tree?

[2021-11-01 13:28] juliandehne commented on #45
Up to 2000 at times. With maybe 50 trees.

[2021-11-02 11:14] jvacek commented on #42
We've ended up using the block below, which is quite sub-optimal given that we need to import the model to get access to the functions.

[code]

It would be nice if there was a cleaner way to access the functions during migrations.

[2021-11-02 11:19] jvacek commented on #40
Not yet, we pushed this one down our priority list

[2021-11-05 12:53] jvacek opened #46 "Add `include_self=False` parameter to functions which return lists/querysets"
`django_mptt` had a nice option to include the current node in the functions which return descendants, children, etc. [It is documented here](https://django-mptt.readthedocs.io/en/stable/mptt.models.html#mptt.models.MPTTModel.get_ancestors)

It would be nice to be able to call `get_children(include_self=True)` or `get_children_queryset(include_self=True)`, and get the node in the list as well

[2021-11-05 14:27] jvacek commented on #46
We have a current workaround for this that's sub-optimal as it doesn't allow us to work with a queryset after defining this.

[code]

[2021-11-05 14:32] fabiocaccamo commented on #46
@jvacek the request is clear, frankly I don't like very much the fact that `self` is not a children, so including it in the result is not logically correct... and what is the right position of `self` in the result? start or end?

[2021-11-05 14:40] jvacek commented on #46
Fair enough, the naming convention of this is not exactly the clearest in `mptt` either, I had to check the docs to see what it meant. The wording doesn't matter, but functionally it would be nice to have an option to include `self` in the resulting list/qset

I would assume that this would follow the traversal method you've chosen. If that's pre-order, then it would be at the start.

[2021-11-12 16:58] #43 closed

[2021-11-18 12:36] #32 closed

[2021-11-18 12:40] fabiocaccamo commented on #32
@JuliusJacobitz why you closed it? Have you tried to proxy the `TreeNodeModel`?

[2021-11-18 15:05] JuliusJacobitz commented on #32
Hi @fabiocaccamo, no I unfortunately didn't try it out. There was no relevance anymore. Should I reopen for future questions?

[2021-11-18 15:07] fabiocaccamo commented on #32
If you have the possibility to try the proxy model please give me some feedback. Let's keep it closed and re-open it in the future if needed.

[2021-11-22 09:34] fabiocaccamo commented on #42
@jvacek `update_tree` is a [class method](https://github.com/fabiocaccamo/django-treenode/blob/master/treenode/models.py#L388), even moving it to an external function you would have to pass the model class of the tree you want to update as argument, so I don't think that this problem would be solved.

Have you any suggestion?

[2021-11-24 16:03] MichaelAkvo commented on #45
You might be running into the same problem I'm running to: nodes without parents are considered as siblings --> each time you add a new node without a parent, **all** siblings will have to be updated --> `O(n)` runtime and memory+DB usage.

This is also creating a problem on existing DBs that start using `django-treenode` with many objects (we have 9k rows and it takes 115s to `set_parent()`)

[2021-11-24 16:35] fabiocaccamo commented on #45
@MichaelAkvo thank you for pointing to the possible cause.
- Do you think that the root nodes should not be considered as siblings?
- Do you think that avoiding to consider the root nodes as siblings would fix the problem?
- Could you do a quick test by hardcoding [these lines](https://github.com/fabiocaccamo/django-treenode/blob/master/treenode/models.py#L512) with the following ones (there is ju

[2021-11-25 08:54] MichaelAkvo commented on #45
Hi @fabiocaccamo,

I'm a little split because it depends on the point of view. Personally, I do not consider them siblings.

I tested it and it fixed part of the performance issue I was facing, however I still had to turn off signals and call `.update_tree()` at the end. Inserting new root nodes however, still faces an `O(n)` problem. With some test data and a glance at the queries, inserting a ne

[2021-11-25 10:21] fabiocaccamo commented on #45
@MichaelAkvo thank you for the great feedback.

From a logical point of view neither me I consider them siblings, but let's imagine the scenario where root nodes represents pages or main menu entries, aren't them siblings?

---

For turning off signals there is already a context manager, but I've not documented it in the README...
[code]

---

Concerning the `O(n)` problem when inserting a root I

[2021-11-25 10:43] MichaelAkvo commented on #45
Concerning menus, if there were a `Menu` model, then personally I would create a "main menu" tree. That would allow me to also create other menus e.g "side bar menu", "footer menu", etc . They wouldn't be sibling, imo.

However, I noticed that even removing siblings from root nodes (which should still be done, imo) the problem would persist for wide trees / tree levels with many siblings.
Maybe a

[2021-11-29 13:25] fabiocaccamo commented on #45
I agree with you regarding the menu scenario, however this would be surely a breaking change.

---

- `tn_index` is the child index relative to its parent, it is not a unique value / identifier.
- `tn_order` is a value that is computed for doing query ordering on a single field and without joins.

If you are interested, there is already a similar discussion on `tn_index` / `tn_order` on #34

[2021-12-07 15:09] fabiocaccamo commented on #42
@jvacek any feedback?

[2021-12-07 15:14] #41 closed

[2021-12-07 15:14] #44 closed

[2021-12-07 15:15] #36 closed

[2021-12-07 16:29] fabiocaccamo commented on #40
@jvacek a possible solution could be like this:
[code]
This is a generic approach, it could be done with a new model method or just adding an option like `keep_children=True` to the current `delete` method.

What do you think about it?

[2021-12-07 16:32] #42 closed

[2021-12-08 14:46] fabiocaccamo commented on #40
`node.delete(cascade=False)` available since `0.18.0` version.

[2021-12-08 14:46] #40 closed

[2021-12-12 10:50] jvies opened #51 "tn_descendants_count is too small for big trees"
**Python version**
3.9

**Django version**
3.2

**Package version**
0.18.0

**Current behavior (bug description)**
since the fix of #44, a new exception is raised during my big tree building.

**Expected behavior**
use treenode for my ~ 100k nodes tree.

[2021-12-13 17:23] fabiocaccamo commented on #45
@juliandehne @MichaelAkvo have you any news on this?

[2021-12-14 08:25] MichaelAkvo commented on #45
Hi @fabiocaccamo,

Unfortunately there wasn't enough time to continue looking into this, so I went with a postgresql ltree solution. My [branch](https://github.com/fabiocaccamo/django-treenode/compare/master...MichaelAkvo:Performance-improvements) still exists, so if you want to, you can use what you deem useful.

Basically it uses `bulk_update` call in `update_tree` and gets rid of `tn_index` and

[2021-12-14 08:30] fabiocaccamo commented on #45
@MichaelAkvo thank you very much for the feedback!

[2021-12-22 21:01] fabiocaccamo commented on #51
@jvies you can upgrade to `0.18.1` version.

[2021-12-22 21:01] #51 closed

[2021-12-23 13:37] fabiocaccamo commented on #34
@TimurKhan have you any update on this?

[2021-12-23 14:31] TimurKhan commented on #34
Befor NY I will sent u vertion. Now in testing

[2021-12-26 12:39] TimurKhan commented on #34
Hi Fabio!
After testing various ideas, we settled on this variation, with which we use your module:
`
    #tn_priority = models.PositiveSmallIntegerField(
    #    default=0,
    #    validators=[MinValueValidator(0), MaxValueValidator(9999)],
    #    verbose_name=_('Priority'), )

    #def get_priority(self):
    #    return self.tn_priority

    #def set_priority(self, val):
    #    self.tn_pr

[2021-12-28 09:36] fabiocaccamo commented on #34
@TimurKhan thank you for the feedback, I will test it and let you know!

[2022-01-14 09:50] TimurKady commented on #34
Hi @fabiocaccamo!
Below is the more correct code. Also, it doesn't slow down the code working and use less no more 3 requests

[code]

[2022-01-14 14:57] fabiocaccamo commented on #34
Hello @TimurKady, thank you for the update, the code seems pretty clear, I will test it as soon as possible.

[2022-01-14 15:07] TimurKady commented on #34
Tnx!
If interested, I can also offer update for TreeNodeForm. It is a widget for the "tn_parent" field (signal2 tree).

[2022-01-14 15:23] fabiocaccamo commented on #34
@TimurKady there already an issue for that, check #37

[2022-01-15 11:17] TimurKady commented on #37
Our team has made a simple widget [treenode-widget](https://github.com/TimurKady/treenode-widget) that greatly improves usability for projects with large trees. Enjoy!

[2022-01-15 11:28] fabiocaccamo commented on #37
@TimurKady is it possible to see a demo of it somewhere?

[2022-01-15 11:30] TimurKady commented on #34
I've adjusted the code a bit. Note. Colleagues made a small bug. Sorry.

[2022-01-15 11:33] TimurKady commented on #37
I will try to generate a small demo project

[2022-01-18 00:02] fabiocaccamo commented on #34
@TimurKady I tried to test your code, but trying to run the test suite (`python runtests.py`) it gets stuck indefinitely (more than a minute, then I killed the process since the same it run in ~12 seconds on my machine).

[2022-01-18 09:23] TimurKady commented on #34
To be honest, in any case, the main drawback of the library is the high cost of creating one record. We looked at the reason. You completely rebuild the tree when you insert each element with post_save. I already thought about making changes to the code. To do this, will have to change two methods (.save() anl __get_node_data()) and abandon the signals. But the costs are very high. Meybe leter...

[2022-01-18 09:25] fabiocaccamo commented on #34
This is what I needed to know, thanks!

[2022-01-18 09:27] TimurKady commented on #34
But I really like your idea, to store the answers to the most likely requests in the database. Maybe later, when I have time, I will try to offer you an adjusted faster solution based on your idea.

[2022-01-18 09:34] fabiocaccamo commented on #34
When I initially developed this library my only need was to manage quickly a 4 levels menu with less than 200 entries, so this solution was perfect.

Now looking at feedbacks, many devs are using it with very big trees with thousands of records, so performances are a top-priority issue to solve. u

Updating the whole tree is not a scalable solution, now something more smart that continue to satisf

[2022-01-19 17:24] TimurKady commented on #34
I have an idea, or rather a suggestion. There is one neat way to drastically improve the performance of your library. The essence of the method is the simultaneous use of the main Adjacency List and the Closure Table. Then you will not have to incur large costs when creating a new element, and the bulk of the requests will still be performed in one database request.

If you don't mind, I'll have a

[2022-01-19 18:37] TimurKady commented on #34
Yes, of course! I have tried all tree packages. But yours appealed to me the most. All other libraries have less advantages than disadvantages.

[2022-01-19 19:23] fabiocaccamo commented on #34
@TimurKady It seems an ambitious change, I didn't know about closure tables, it seems a very good approach, thank you for suggesting it!

You can find my email on my GH profile!

[2022-01-19 19:33] TimurKady commented on #34
@fabiocaccamo Unfortunately, there is nothing ambitious in this.  The code will not be too big.  The most ambitious is the support of the previous version.

I am well acquainted with graphs and algorithms for working with it.  I'll close this part of the code.  You know Django and cache working very well.  Close this part!

I'll send you my code and we will discuss everything.

[2022-01-20 21:44] fabiocaccamo commented on #34
@TimurKady I just discovered this package: https://github.com/ocadotechnology/django-closuretree

[2022-01-20 22:20] TimurKady commented on #34
I'll look it later

[2022-02-11 22:16] TimurKady commented on #34
[Combination of Adjacency List and Closure Table](https://github.com/TimurKady/treenode-ct) (django-treenode based)
Done!

[2022-07-08 23:02] natebgurutech opened #53 "Pagination"
I scripted creating about 1000 items into my tree and it's a bit slow to load the admin list display and even more slow if I use a `raw_id_field` for the parent ID (the popup takes like 20 seconds to load).

Is there a way to enable pagination in the admin panel?  It's just dumping the full 1000 I generated on each load.

[2022-07-11 03:11] natebgurutech commented on #53
I answered my own question.  I didn't find it in the documentation but I poked around the code a bit.

In this file:
https://github.com/fabiocaccamo/django-treenode/blob/master/treenode/admin.py

it says

[code]

I reviewed what commands I had done to generate my tree and it was exactly 1000 items.  If I had made 1001 I would have seen the pagination.

I was able to override this value in my model

[2022-07-11 07:57] fabiocaccamo commented on #53
@natebgurutech `list_per_page` is a django admin option (not an option of this package), that's why it is not documented here.

I'm personally using this library on a production project with a tree of ~500 nodes and 4 levels of depth and it runs quite well, could you install the [django-debug-toolbar](https://django-debug-toolbar.readthedocs.io/en/latest/) and check the cause of the slowdown pleas

[2022-07-15 08:56] fabiocaccamo commented on #53
@natebgurutech any update?

[2022-07-19 13:17] fabiocaccamo commented on #53
@natebgurutech I close this due to inactivity, I will re-open it if needed.

[2022-07-19 13:17] #53 closed

[2022-10-25 21:14] laith43d opened #55 "question: migrating from django-mptt to django-treenode"
I used some of your work in my projects, and they are fantastic; thank you for your hard work.

I have a question, but I'm hesitant to explore till I know whether there is a history example; I searched and couldn't discover anything informative.

I'm working on a project where I'm using django-mptt, and it's becoming clear that it has constraints that are harming the overall development quality an

[2022-10-26 07:28] fabiocaccamo commented on #55
@laith43d thank you very much, I am very pleased that you use my libraries!
Surely the transition is possible, but I never did it.

[2022-10-26 07:33] fabiocaccamo commented on #55
Maybe adding a command for doing the transition from other top libraries (such as `django-mptt`) would be great.